
<!-- <div>
    <input 
    type="text" 
    clsss="form-control"
    (keyup)="onKeys($event)">
    
</div> -->
  
<hr>
  
<div>
    <input 
    type="text" 
    clsss="form-control"
    [(ngModel)] = "courseName">    
</div>

<hr>
<div>
    <button class='btn btn-primary' 
      [disabled]="!allowdToAdd"
      (click)="onClicked()"
      >
      ADD +
    </button>
</div>
  
  <div>
    {{ onAddCourseText }}
  </div>
  
   <h2>
    {{ title }}
  </h2>


<div  *ngIf="!courseName" style="text-align:left">
  <ul>
    <li *ngFor="let course of coursesList">
      {{ course }}
    </li>
  </ul>
</div>

<p *ngIf="courseName"> You just added :  {{ courseName }}</p>
<p *ngIf="!courseName">You don't added any course</p>
